.navbar {
    padding: 0.8em;
}

.input {
    width: 35vw;
}

.user {
    color: rgb(58, 61, 129);
    display: inline-block;
}

.flex {
    display: flex;
    svg:not(:root).svg-inline--fa {
        margin: 0.3em;
    }
}

svg {
    color: rgb(58, 61, 129);
}

.carrito:hover {
    cursor: pointer;
}

.myBadge {
    background-color: #FF3860;
    color: white;
    border-radius: 3em;
    padding-left: 0.5em;
    margin-bottom: 1em;
    width: 1.5vw;
}