<div class="container">
    <div class="imagen">
        <img src="assets/images/about2.jpg">
    </div>
    <div class="bd-example">
        <div class="content is-small">
            <img src="assets/images/header2.png">
            <h1>About us</h1>
            <p>TecnoShop began in 2020. We realized that it was near impossible for the average developer to create ideal workspace. We created the TecnoShop e-commerce with the user's perspective in mind. We keep it simple, so users can focus on creating
                an amazing workspace that reflects their spirit. You can get online, save your favorite products in your wish list, or start buying products right away. Today, we're proud to empower individuals and small business owners around the world.
                Everyone deserves a perfect workspace, and we're excited to see what you create.</p>

        </div>
    </div>
</div>