<!-- <div class="modal ">
    <div class="modal-background"></div>
    <div class="modal-content">
        <p class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
        </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div> -->
<div>

    <div class="content is-medium">


        <img src="{{productService.product.image_path}}" alt="Image">


        <div class="datosProducto">
            <h1>{{productService.product.name}}</h1>
            <p>Description: {{productService.product.description}}</p>
            <p>Price: {{productService.product.price}} €</p>
            <p>Category: {{productService.product.name}} </p>

            <button class="button is-info">  <i class="fas fa-shopping-cart"></i>  Add to cart</button>
        </div>

    </div>
    <p class="subtitle is-3">Reviews</p>
    <div>
        <div class="reviews" *ngFor="let review of productService.product?.review">
            <p>

                {{review.review}}
            </p>

        </div>
    </div>

</div>