.content {
    margin: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    img {
        margin: 1em;
        border-radius: 0.5em;
        max-width: 40%;
    }
}

.subtitle {
    text-align: center;
}

.reviews {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        width: 40%;
        border-radius: 0.5em;
    }
    margin: 1em;
    padding: 1em;
    border: 1px solid rgba(143, 143, 143, 0.452);
    width: 45vw;
}

.svg-inline--fa.fa-w-18 {
    margin: 0.3em;
}

.flex {
    display: flex;
    flex-direction: column;
    margin: 1em;
    justify-content: space-around;
    width: 10vw;
    height: 20vh;
}

.flex2 {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.comment {
    margin: 1em;
    width: 35vw;
    .button {
        margin: 1em;
    }
    .file-label {
        margin: 1em;
    }
}

.datosProducto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}

.button.is-info {
    margin: 1em;
    min-width: 15vw;
    max-width: 20vw;
}

.button.is-danger {
    margin: 1em;
    min-width: 15vw;
    max-width: 20vw;
    .fa-heart {
        margin: 0.3em;
    }
}

.botones {
    display: flex;
    justify-content: space-around;
}

.deseos {
    .fa-heart {
        color: #F03A5F;
    }
}