<!-- <div class="modal ">
    <div class="modal-background"></div>
    <div class="modal-content">
        <p class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
        </p>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div> -->
<div>
    <div class="content is-medium">


        <img src="http://localhost:8000/images/products/{{productService.product?.image_path}}" alt="Image">


        <div class="datosProducto">
            <h1>{{productService.product?.name}}</h1>
            <p>Description: {{productService.product?.description}}</p>
            <p>Price: {{productService.product?.price}} €</p>
            <p>Category: {{productService.product?.name}} </p>

            <button class="button is-info">  <i class="fas fa-shopping-cart"></i>  Add to cart</button>
        </div>

    </div>
    <p class="subtitle is-3">Reviews</p>
    <div class="flex2">
        <form #reviewForm="ngForm" (submit)="postReview(reviewForm.form,imageInput)">
            <div class="comment">
                <textarea name="review" ngModel class="textarea" placeholder="hey" required></textarea>
                <div class="file">
                    <button class="button is-info" type="submit">  Send</button>
                    <label class="file-label">
                  <input name="image" ngModel #imageInput class="file-input" type="file" required  >
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                </label>
                </div>
            </div>
        </form>
        <div>
        </div>

        <div class="reviews" *ngFor="let review of productService.product?.review.reverse()">
            <div class="flex">
                <p>{{review.user.name}}</p>
                <div>

                </div>
                <p> {{review.created_at | date }}</p>
                <p>{{review.review}}</p>
            </div>

            <img src="http://localhost:8000/images/products/{{review.image_path}}" alt="Image">


        </div>
    </div>

</div>