.flex2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.form {
    width: 50vw;
}

.panel-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    img {
        width: 10%;
    }
}

.panel {
    width: 100%;
}

.paginacion {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.notification {
    text-align: center;
}

.desaparecer {
    all: unset;
    padding: 1em;
}

svg {
    color: #3A3D81;
}