<div class="flex2">
    <h1></h1>
    <nav class="panel">
        <p class="panel-heading">
            Admin
        </p>
        <div class="panel-block">
            <p class="control has-icons-left">
                <input class="input" (keyup)="search($event)" type="text" placeholder="Search">
                <span class="icon is-left">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </span>
            </p>
        </div>
        <p class="panel-tabs">
            <a class="is-active">All Products</a>
            <a [routerLink]="['/addProduct']">Create Product</a>
        </p>
        <div class="notification is-danger is-light" *ngIf="message">
            {{message}}
        </div>
        <div class="paginacion">

            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
        <a class="panel-block" *ngFor="let product of productService.products | paginate: { itemsPerPage: 5, currentPage: p }">
            <div class="notification is-success is-light" *ngIf="message">
                {{messageUpdated}}
            </div>
            <img src="http://localhost:8000/images/products/{{product.image_path}}" alt="Placeholder image" routerLink="/product/{{product['id']}}">

            <span class="panel-icon">{{product.name}}
            </span>
            <div>
                <button class="desaparecer" (click)="selectItem(product)"><i  class="fas fa-edit"></i></button>
                <button class="desaparecer" (click)="deleteProduct(product.id)"> <i  class="fas fa-trash"></i></button>
            </div>
        </a>
        <div>
            <pagination-controls class="paginacion" (pageChange)="p = $event"></pagination-controls>
        </div>
        <section *ngIf="showModal" (onClose)="showModal=false">
            <div class="modal is-active" *ngIf="showModal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Choose</p>
                        <button class="delete" aria-label="close" (click)="cancel()"></button>
                    </header>
                    <section class="modal-card-body">

                        <form class="forms" #productForm="ngForm" (submit)="editProduct(productForm.form)">
                            <div class="comment">
                                <div class="field">
                                    <div class="control">
                                        <input name="name" class="input is-medium" value="currentProduct" [(ngModel)]="currentProduct.name" type="text" placeholder="Medium input">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input name="price" class="input is-medium" [(ngModel)]="currentProduct.price" type="number" placeholder="Medium input">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <input name="description" class="input is-medium" [(ngModel)]="currentProduct.description" type="text" placeholder="Medium input">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <div class="select is-medium">
                                            <select name="category_id" [(ngModel)]="currentProduct.category_id">
                                                <option value="1">Computer</option>
                                                <option value="2">Computer accessories</option>
                                                <option value="3">Consoles</option>
                                                <option value="4">Video games</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="file">
                                    <button class="button is-info" type="submit"> Send</button>

                                </div>
                            </div>
                        </form>

                    </section>
                    <footer class="modal-card-foot">
                        <button class="button is-success">Save changes</button>
                        <button class="button" (click)="cancel()">Cancel</button>
                    </footer>
                </div>
            </div>
        </section>

    </nav>

</div>