<nav class="panel">

    <p class="panel-heading">
        My info
    </p>
    <p class="panel-tabs">
        <a [routerLink]="['/profile']" routerLinkActive="router-link-active">Data</a>
        <a [routerLink]="['/myorders']" routerLinkActive="router-link-active">Orders</a>
        <a class="is-active">
            <i class="fas fa-heart" aria-hidden="true"></i> Wish List</a>
    </p>
    <a class="panel-block" *ngFor="let like of userService.user.likes">

        <img src="http://localhost:8000/images/products/{{like.image_path}}" alt="Placeholder image" routerLink="/product/{{like['id']}}">
        <p>Name: {{like.name}}</p>
        <p>
            Price: {{like.price}} €
        </p>
    </a>
</nav>