.container {
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: 0.5em;
}

.prevPhoto {
    padding: 1em;
    display: flex;
    justify-content: center;
    img {
        width: 50%;
    }
}