<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Choose</p>
            <button class="delete" aria-label="close" (click)="cancel()"></button>
        </header>
        <section class="modal-card-body">

            <form class="forms" #productForm="ngForm" (submit)="editProduct(productForm.form, productService.product?.id)">
                <div class="comment">
                    <div class="field">
                        <div class="control">
                            <input name="name" class="input is-medium" ngModel type="text" placeholder="Medium input">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input name="price" class="input is-medium" ngModel type="number" placeholder="Medium input">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input name="description" class="input is-medium" ngModel type="text" placeholder="Medium input">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <div class="select is-medium">
                                <select name="category_id" ngModel>
                              <option value="1">Computer</option>
                              <option value="2">Computer accessories</option>
                              <option value="3">Consoles</option>
                              <option value="4">Video games</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="file">
                        <button class="button is-info" type="submit">  Send</button>

                    </div>
                </div>
            </form>

        </section>
        <footer class="modal-card-foot">
            <button class="button is-success">Save changes</button>
            <button class="button" (click)="cancel()">Cancel</button>
        </footer>
    </div>
</div>