.banner {
    display: flex;
    justify-content: center;
    margin: 1em;
    img {
        width: 100%;
        border-radius: 1em;
        opacity: 0.9;
    }
    .texto {
        color: white;
        position: absolute;
        bottom: 20em;
        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1.5em;
        }
    }
    .button {
        margin-top: 3em;
        border-radius: 2em;
        width: 10vw;
        height: 6vh;
    }
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em;
}

.card {
    margin: 1em;
    padding: 1em;
    min-width: 35%;
    width: 16vw;
    max-height: 40vh;
    min-height: 40vh;
    &:hover {
        cursor: pointer;
    }
}

.title {
    text-align: center;
}

.title:not(.is-spaced)+.subtitle {
    text-align: center;
}

.button.is-primary {
    opacity: 0.8;
}