.banner {
    display: flex;
    justify-content: center;
    margin: 1em;
    img {
        width: 80%;
        border-radius: 1em;
    }
    .texto {
        color: white;
        position: absolute;
        bottom: 20em;
        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1.5em;
        }
    }
    .input,
    .textarea {
        margin-top: 3em;
    }
}