.banner {
    display: flex;
    justify-content: center;
    margin: 1em;
    img {
        width: 100%;
        border-radius: 1em;
    }
    .texto {
        color: white;
        position: absolute;
        bottom: 20em;
        h1 {
            font-size: 2em;
        }
        p {
            font-size: 1.5em;
        }
    }
    .input,
    .textarea {
        margin-top: 3em;
        opacity: 0.7;
    }
}

.products {
    display: flex;
    justify-content: center;
    margin: 1em;
    .card {
        margin: 1em;
        min-width: 25%;
        max-width: 25%;
        &:hover {
            cursor: pointer;
        }
    }
}

.title {
    text-align: center;
}

.title:not(.is-spaced)+.subtitle {
    text-align: center;
}