<section class="container">
    <div class="imagenLogin">
        <img src="assets/images/prueba7.jpg">
    </div>
    <div class="login">
        <form on-submit="login($event)">
            <p class="title is-2 is-spaced">Sign in to TecnoShop.</p>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" name="name" type="text" placeholder="your name">
                    <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>

                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" name="password" type="password" placeholder="your password">
                    <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-primary">
            Login
          </button>
                </p>
            </div>
        </form>
    </div>

</section>